// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background: #7f8c8d;
}

body {
  font-family: 'Source Sans Pro';
  max-width: 800px;
  margin: 0 auto;
  background: #ecf0f1;
}

#app_header {
  $height: 60px;

  text-align: center;
  background: #c0392b;
  color: #ecf0f1;
  height: $height;
  line-height: $height;

  h1 {
    margin: 0;
  }
}

#app_main {
  overflow: hidden;

  h2 {
    margin: 0;
    font-weight: 300;
    padding: 10px 20px;
  }

  .call_request {
    background: #fff;
    min-height: 80px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #b1b8bd;
    box-shadow: 0px 2px 9px #95a5a6;

    span {
      font-size: 24px;
      display: block;

      strong {
        display: inline-block;
        width: 130px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

  form {
    margin: 20px auto;
    font-size: 24px;
    width: 55%;

    input {
      outline: none;
    }

    input[type='submit'] {
      display: block;
      width: 200px;
      height: 50px;
      margin: 20px auto;
      border: none;
      border-radius: 2px;
      background: #27ae60;
      color: #ecf0f1;

      &:hover {
        background: #2ecc71;
      }

      &:active {
        background: #16a085;
      }
    }
  }
}

#new_call_request {
  background: #fff;
  min-height: 80px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px #B1B8BD;
  box-shadow: 0px 2px 9px #95A5A6;
  text-align: center;
  font-size: 36px;

  position: absolute;
  top: -200px;
  left: calc(50% - 271px);
  right: calc(50% - 271px);
  opacity: 0;

  transition: top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  p {
    margin: 0;
  }
}

#new_call_request.visible {
  top: 20px;
  opacity: 1;
}